{% extends 'vinoteca/base.html' %}

{% block body %}
<h1>{{ vino.nombre }}</h1>
<p>{{ vino.descripcion }}</p>
<p>Precio: ${{ vino.precio }}</p>
<p>Stock: {{ vino.stock }}</p>
<p>Bodega: {{ vino.bodega }}</p>
<p>Categoría: {{ vino.categoria }}</p>

{% if vino.imagen %}
    <img
        src="{{ vino.imagen.url }}"
        width="250"
        alt="{{ vino.nombre }}"
    >
{% endif %}
<hr>
{% if perms.vinoteca.change_vino %}
    <a href="{% url 'vino_update' vino.pk %}">Editar</a>
{% endif %}
{% if perms.vinoteca.delete_vino %}
    <a href="{% url 'vino_delete' vino.pk %}">Eliminar</a>
{% endif %}
<hr>

<h2>Reseñas</h2>

<a href="{% url 'crear_resenia' vino.id %}">
    Agregar reseña
</a>
{% for resenia in vino.resenia_set.all %}
    <div>
        <strong>{{ resenia.usuario.username }}</strong>
        <p>Puntuación: {{ resenia.puntuacion }}/10</p>
        <p>{{ resenia.comentario }}</p>
        <small>{{ resenia.fecha }}</small>
    </div>
    <hr>
{% endfor %}
{% endblock %}